/* Estilos Login */

.cuentaContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: $colormain;
}
.cuentaContainer form {
    background-color: $colora;
    padding: 20px 50px;
    .email:hover {
        transform: scale(1.1);
        cursor: pointer;
    } 
    .password:hover {
        transform: scale(1.1);
        cursor: pointer;
    } 
    .cuentaRegistrarse {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cuentaButton:hover {
        transform: scale(1.1);
        cursor: pointer;
    } 
}
.cuentaButton {
    display: flex;
    justify-content: center;
} 


