/* Estilos ubicacion */

span{
    margin: 20px;
    h4{
        margin: 10px;
    }
    p{
        margin-left: 20px;
        display: flex;
    } 
    .mapa {
        display: flex;
       justify-content: left;
        margin: 50px;
    }
}



