/* Estilos ubicacion */

span{
    margin: 20px;
    h4{
        margin: 10px;
    }
    p{
        margin-left: 20px;
        display: flex;
    } 
    .mapa {
        display: flex;
       justify-content: left;
        margin: 50px;
        width:230px;
        height:450px;
    }
}

@media screen and (min-width: 768px){
    span{
        .mapa {
           width: 600px;
    }
}
}